html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}

p {
  padding: 0px;
  margin: 0px;
}

a:hover {
  text-decoration: none !important;
}

.text-small {
  font-size: 14px !important;
}

.text-medium {
  font-size: 17px !important;
}

.text-large {
  font-size: 24px !important;
}

.text-extraLarge {
  font-size: 32px !important;
}

thead {
  background-color: #0075FF;
  color: white;
}

.table-condensed thead {
  background-color: unset;
  color: unset;
}
.table-condensed tbody:before {
  content: none;
}

table.outline-table {
  border-collapse: separate;
  border-spacing: 0px 0px;
}
table.outline-table tbody:before {
  background-color: white;
}
table.outline-table tbody tr:nth-child(1) td {
  border-top: 1px solid #dee2e6;
}
table.outline-table tbody tr:nth-last-child(1) td {
  border-bottom: 1px solid #dee2e6;
}
table.outline-table tbody tr:nth-child(1) td:nth-child(1) {
  border-radius: 8px 0px 0px 0px !important;
}
table.outline-table tbody tr.rounded td:nth-child(1) {
  border-radius: 8px 0px 0px 0px !important;
}
table.outline-table td {
  border: 1px solid #dee2e6;
  border-top: 0px;
  border-style: solid none;
}
table.outline-table td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
table.outline-table td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

table thead th {
  border-top: 0px !important;
  border-bottom: 0px !important;
  white-space: nowrap !important;
}
table thead th:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}
table thead th:nth-last-child(1) {
  border-radius: 0px 8px 8px 0px;
}
table tbody:before {
  content: " -";
  display: block;
  line-height: 1em;
  color: transparent;
  background-color: #F0F1F3;
}
table tbody {
  background-color: white;
}
table tbody tr:nth-child(1) td {
  border-top: 0px;
}
table tbody tr:nth-child(1) td:nth-child(1) {
  border-radius: 8px 0px 0px 0px;
}
table tbody tr:nth-child(1) td:nth-last-child(1) {
  border-radius: 0px 8px 0px 0px;
}
table tbody tr:nth-last-child(1) td {
  border-bottom: 0px;
}
table tbody tr:nth-last-child(1) td:nth-child(1) {
  border-radius: 0px 0px 0px 8px;
}
table tbody tr:nth-last-child(1) td:nth-last-child(1) {
  border-radius: 0px 0px 8px 0px;
}
table tbody td {
  vertical-align: middle !important;
  white-space: nowrap;
}

input[type=number] {
  padding: 8px;
}

input[type=email],
input[type=text],
input[type=number],
input[type=date] {
  height: 50px;
  border: 0px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

select {
  height: 50px !important;
  border: 0px !important;
  border-radius: 6px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
}

textarea {
  border: 0px !important;
  resize: none;
  border-radius: 8px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button.btn-primary {
  height: 45px;
  border: 6px;
  background-color: #0075FF;
  color: white !important;
  font-weight: 600 !important;
}
button.btn-transparent {
  padding: 0;
  background-color: transparent;
}

a.btn-primary {
  border: 6px;
  background-color: #0075FF;
  color: white !important;
  font-weight: 600 !important;
}
a.btn-primary-outline {
  border: 2px solid #0075FF;
  color: #0075FF !important;
  font-weight: 600 !important;
}
a.btn-primary-outline:hover {
  background-color: #0075FF;
  color: white !important;
}
a.btn-danger {
  border: 6px;
  color: white !important;
  font-weight: 400 !important;
}

.btn {
  border-radius: 10px;
}

.btn.btn-release {
  background-color: #CCF2FF;
  color: #00BCFF;
}

.btn.btn-done {
  font-weight: 600;
  background: #20ba38;
  color: white;
}

.btn.btn-reject {
  font-weight: 600;
  background-color: #FF0000;
  color: white;
}

.btn.btn-review {
  background-color: #C5DFFF;
  color: #0075FF;
}

.btn.btn-edit {
  background-color: #F9BB1C;
  color: white;
}

.btn.btn-baning {
  background-color: #DE609D;
  color: white;
}

.btn.btn-stroke {
  background-color: white;
  color: #999999;
  border: 1px solid #999999;
}

.reward-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.card {
  border: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.font-primary {
  color: #0075FF;
}

.font-white {
  color: #ffffff;
}

.font-red {
  color: #EC4B4B;
}

.font-secondary {
  color: #FFB800;
}

.font-regular {
  font-weight: normal;
}

.font-medium {
  font-weight: 600;
}

.font-semiBold {
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

.container {
  max-width: 1440px !important;
}

input:disabled, textarea:disabled {
  background-color: #D6D6D6 !important;
  color: black;
}

.input-container {
  position: relative;
}
.input-container input {
  border-radius: 10px;
  height: 50px;
  padding-left: 64px !important;
  box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.input-container img {
  position: absolute;
  left: 24px;
  bottom: 14px;
  width: 24px;
  height: 24px;
}

input[type=submit] {
  border-radius: 8px;
  height: 50px;
  background-color: #0075FF;
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: white;
  justify-content: unset;
}
.navbar .btn {
  background-color: transparent;
}

#sidebar.show {
  margin-left: 0em;
  transition: margin-left 0.25s ease-in-out;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  margin-left: -100%;
  min-height: 100%;
  background-color: white;
  overflow-x: hidden;
  z-index: 2;
  transition: margin-left 0.25s ease-in-out;
}
#sidebar .header {
  background-color: #0075FF;
}
#sidebar .header .username {
  color: white;
}
#sidebar .header .achievement {
  font-weight: 400;
  color: #FFD15A;
}
#sidebar a {
  color: #6c757d !important;
}
#sidebar a svg {
  fill: #6c757d !important;
}
#sidebar a path {
  fill: #6c757d !important;
}
#sidebar a.active {
  color: #0075FF !important;
}
#sidebar a.active svg {
  fill: #0075FF !important;
}
#sidebar a.active path {
  fill: #0075FF !important;
}
#sidebar .circle-icon {
  font-size: 0.5rem;
}
#sidebar .btn-edit-profile {
  background-color: transparent;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}
#sidebar a.btn-logout {
  display: inline-block;
  color: red !important;
}
#sidebar a.btn-logout path {
  fill: red !important;
}

#right-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  margin-right: -100%;
  min-height: 100%;
  background-color: white;
  overflow-x: hidden;
  z-index: 2;
  transition: margin-left 0.25s ease-in-out;
}
#right-sidebar a {
  color: #6c757d !important;
}
#right-sidebar a path {
  fill: #6c757d !important;
}
#right-sidebar a.active {
  color: #0075FF !important;
}
#right-sidebar a.active path {
  fill: #0075FF !important;
}
#right-sidebar .circle-icon {
  font-size: 0.5rem;
}

#page-content-wrapper {
  padding-left: 20em;
  min-width: 0;
  width: 100%;
  transition: padding-left 0.25s ease-in-out;
}
#page-content-wrapper .navbar {
  margin-left: 20em;
  z-index: 1;
}
#page-content-wrapper #menu-toggle {
  display: none;
}
#page-content-wrapper .page-content {
  padding-top: 120px;
}

.bonus-container {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 15px;
}

.rounded-container {
  background: white;
  border-radius: 8px;
}

.input-container {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}

.flex-rectangle {
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}
.flex-rectangle .btn {
  background: transparent;
}
.flex-rectangle .reward-overlay {
  opacity: 0;
  border-radius: 15px;
  transition: all 0.25s ease-in-out;
}
.flex-rectangle .reward-overlay:hover {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.right-bonus-card {
  border-radius: 20px;
}
.right-bonus-card h1 {
  font-size: 48px;
}
.right-bonus-card h3 {
  font-size: 32px;
}

.page-item a {
  color: #999999 !important;
}

.page-item.active a {
  color: white !important;
}

.title {
  font-size: 24px;
}

.network-tree .left-leg,
.network-tree .right-leg {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.tree a {
  background-color: white;
}
.tree .branch .phone_number,
.tree .branch .deposit {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.tree .branch .left-leg {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.tree ul {
  position: relative;
  padding: 1em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
.tree ul::after {
  content: "";
  display: table;
  clear: both;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 1em 0.5em 0 0.5em;
}
.tree li::before, .tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 55%;
  height: 1em;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
.tree li:only-child {
  padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 1em;
}

.tree li a, .tree li .btn-network-tree, .tree li .btn-register-tree {
  border: 1px solid #ccc;
  background: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #333;
  position: relative;
  top: 1px;
}
.tree li .btn-register-tree {
  background-color: #D0FDCB !important;
}
.tree li .btn-register-tree p {
  color: #4EAE3A;
}

.registration-form, .upgrade-form {
  border-radius: 10px;
}
.registration-form p, .upgrade-form p {
  color: #0075FF;
}
.registration-form p.label, .upgrade-form p.label {
  color: #2b2b2b;
}
.registration-form input, .registration-form select, .upgrade-form input, .upgrade-form select {
  height: 35px !important;
  box-shadow: none !important;
  border: 1px solid #999999 !important;
}

.upgrade-form input, .upgrade-form select {
  height: 35px !important;
  box-shadow: none !important;
  border: 1px solid #999999 !important;
}

.create-epin-form select {
  height: 35px !important;
  box-shadow: none !important;
  border: 1px solid #999999 !important;
}

.provider-container {
  position: relative;
  padding-top: 50%;
}
.provider-container .provider-view {
  position: absolute;
  top: 0px;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.provider-container .provider-view img {
  width: 150px;
  height: 75px;
  object-fit: contain;
}

.payment-receipt-overlay {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  #sidebar.show {
    margin-left: 0;
  }

  #overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    top: 0;
  }

  #overlay.show {
    display: block;
    position: fixed;
    opacity: 1;
  }

  #page-content-wrapper {
    padding-left: 0;
  }
  #page-content-wrapper .navbar {
    margin-left: 0px;
  }
  #page-content-wrapper .title {
    padding-left: 24px !important;
  }
  #page-content-wrapper #menu-toggle {
    padding-left: 3rem !important;
    display: block;
    position: relative !important;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 17px;
  }

  .network-tree .left-leg,
.network-tree .right-leg {
    border-left: 0px;
  }

  .page-content {
    padding-top: 150px !important;
  }

  #overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    top: 0;
  }

  #overlay.show {
    display: block;
    position: fixed;
    opacity: 1;
  }

  #sidebar {
    width: unset;
    margin-left: -100vh;
    transition: margin-left 0.25s ease-in-out;
    max-width: 75%;
  }
  #sidebar .header .username {
    font-size: 24px;
  }
  #sidebar .header .achievement {
    font-size: 16px;
  }
  #sidebar p {
    font-size: 14px;
  }
  #sidebar a.btn-edit-profile {
    font-size: 14px;
  }
  #sidebar a.btn-logout {
    bottom: 0rem;
  }

  #right-sidebar.show {
    margin-right: 0em;
    transition: margin-right 0.25s ease-in-out;
  }

  #right-sidebar {
    width: unset;
    margin-right: -100vh;
    transition: margin-right 0.25s ease-in-out;
    max-width: 75%;
  }
  #right-sidebar p {
    font-size: 14px;
  }

  #page-content-wrapper {
    padding-left: 0;
  }
  #page-content-wrapper .navbar {
    margin-left: 0px;
  }
  #page-content-wrapper .navbar h2 {
    font-size: 24px;
  }
  #page-content-wrapper #menu-toggle {
    display: block;
  }
  #page-content-wrapper .page-content {
    padding-top: 100px;
  }

  .right-bonus-card {
    padding-top: 55%;
  }
  .right-bonus-card h1 {
    font-size: 24px;
  }
  .right-bonus-card h3 {
    font-size: 17px;
  }
  .right-bonus-card .logo {
    width: 48px !important;
    height: 48px !important;
  }

  .member-card h1 {
    font-size: 32px;
  }

  table.dataTable tbody td {
    white-space: nowrap;
  }

  .text-small {
    font-size: 12px !important;
  }

  .text-medium {
    font-size: 14px !important;
  }

  .text-large {
    font-size: 24px !important;
  }

  .text-extraLarge {
    font-size: 32px !important;
  }
}
@media only screen and (max-width: 320px) {
  .right-bonus-card {
    padding-top: 65%;
  }

  .member-card {
    padding-top: 65% !important;
  }
  .member-card h1 {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
