$primaryColor: #0075FF;
$secondaryColor:#FFB800;
$textColor:#2b2b2b;
$mutedColor: #6c757d;
$border-radius: 8px;

html,
body {
    height: 100%;
    // font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $textColor;
}

p {
    padding: 0px;
    margin: 0px;
}

a{
    &:hover{
        text-decoration: none !important;
    }
}

// TEXT SIZE

.text-small {
    font-size: 14px !important;
}

.text-medium {
    font-size: 17px !important;
}

.text-large {
    font-size: 24px !important;
}

.text-extraLarge {
    font-size: 32px !important;
}

// --

// TABLE
thead {
    background-color: $primaryColor;
    color: white;
}

.table-condensed {
    thead {
        background-color: unset;
        color: unset;
    }

    tbody:before {
        content: none;
    }

}

table.outline-table{
    border-collapse: separate; 
    border-spacing: 0px 0px; 

    tbody:before {
        background-color: white;
    }
    
    tbody tr:nth-child(1) td {
        border-top: 1px solid #dee2e6;
    }

    tbody tr:nth-last-child(1) td {
        border-bottom: 1px solid #dee2e6;
    }

    tbody tr:nth-child(1) td:nth-child(1) {
        border-radius: 8px 0px 0px 0px !important;
    }

    tbody tr.rounded td:nth-child(1) {
        border-radius: 8px 0px 0px 0px !important;
    }

    td {
        border: 1px solid #dee2e6;
        border-top: 0px;
        border-style: solid none;
    }

    td:first-child {
        border-left-style: solid;
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
    }

    td:last-child {
        border-right-style: solid;
        border-bottom-right-radius: 10px; 
        border-top-right-radius: 10px; 
    }
}

table {
    thead {
        th {
            border-top: 0px !important;
            border-bottom: 0px !important;
            white-space: nowrap !important;
        }

        th:nth-child(1) {
            border-radius: $border-radius 0px 0px $border-radius;
        }

        th:nth-last-child(1) {
            border-radius: 0px $border-radius $border-radius 0px;
        }
    }

    tbody:before {
        content: " -";
        display: block;
        line-height: 1em;
        color: transparent;
        background-color: #F0F1F3;
    }

    tbody {
        background-color: white;

        tr:nth-child(1){
            td{
                border-top: 0px;
                &:nth-child(1){
                    border-radius: $border-radius 0px 0px 0px;
                }
                &:nth-last-child(1){
                    border-radius: 0px $border-radius 0px 0px;
                }
            }
        }

        tr:nth-last-child(1){
            td{
                border-bottom: 0px;
                &:nth-child(1){
                    border-radius: 0px 0px 0px $border-radius;
                }
                &:nth-last-child(1){
                    border-radius: 0px 0px $border-radius 0px;
                }
            }
        }

        td {
            vertical-align: middle !important;
            white-space: nowrap;
        }
    }
}

// --


// INPUT

input[type="number"] {
    padding: 8px;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="date"] {
    height: 50px;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

select {
    height: 50px !important;
    border: 0px !important;
    border-radius: 6px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
}

textarea {
    border: 0px !important;
    resize: none;
    border-radius: $border-radius !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
    &.btn-primary{
        height: 45px;
        border: 6px;
        background-color: $primaryColor;
        color: white!important;
        font-weight: 600 !important;
    }

    &.btn-transparent{
        padding: 0;
        background-color: transparent;
    }
}

a {
    &.btn-primary{
        border: 6px;
        background-color: $primaryColor;
        color: white!important;
        font-weight: 600 !important;
    }

    &.btn-primary-outline{
        border: 2px solid $primaryColor;
        color: $primaryColor!important;
        font-weight: 600 !important;

        &:hover{
            background-color: $primaryColor;
            color: white !important;
        }
    }

    &.btn-danger{
        border: 6px;
        color: white!important;
        font-weight: 400 !important;
    }
}

.btn {
    border-radius: 10px;
}

.btn.btn-release {
    background-color: #CCF2FF;
    color: #00BCFF;
}

.btn.btn-done {
    // height: 50px;
    font-weight: 600;
    background:rgba(32,186,56,1);
    color: white;
}

.btn.btn-reject {
    // height: 50px;
    font-weight: 600;
    background-color: #FF0000;
    color: white;
}

.btn.btn-review {
    background-color: #C5DFFF;
    color: #0075FF;
}

.btn.btn-edit {
    background-color: #F9BB1C;
    color: white;
}

.btn.btn-baning {
    background-color: #DE609D;
    color: white;
}

.btn.btn-stroke {
    background-color: white;
    color: #999999;
    border: 1px solid #999999;;
}

// --

.reward-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
}

// CARD
.card {
    border: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

// --

.font-primary {
    color: #0075FF;
}

.font-white {
    color: #ffffff;
}

.font-red {
    color: #EC4B4B;
}

.font-secondary {
    color: $secondaryColor;
}

.font-regular {
    font-weight: normal;
}

.font-medium {
    font-weight: 600;
}

.font-semiBold {
    font-weight: 600;
}

.font-bold {
    font-weight: bold;
}

.container {
    max-width: 1440px !important;
}

input:disabled, textarea:disabled {
    background-color: #D6D6D6 !important;
    color: black;
}

.input-container {

    position: relative;

    input {
        border-radius: 10px;
        height: 50px;
        padding-left: 64px !important;
        box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.25);
    }

    img {
        position: absolute;
        left: 24px;
        bottom: 14px;
        // right:5px;
        width: 24px;
        height: 24px;
    }
}

input[type="submit"] {
    border-radius: 8px;
    height: 50px;
    background-color: $primaryColor;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: white;
    justify-content: unset;

    .btn {
        background-color: transparent;
    }
}

#sidebar.show {
    margin-left: 0em;
    transition: margin-left 0.25s ease-in-out;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20em;
    margin-left: -100%;
    min-height: 100%;
    background-color: white;
    overflow-x: hidden;
    z-index: 2;
    transition: margin-left 0.25s ease-in-out;

    .header {
        background-color: $primaryColor;

        .username {
            color: white;
        }

        .achievement {
            font-weight: 400;
            color: #FFD15A;
        }
    }

    a {
        color: $mutedColor !important;

        svg {
            fill: $mutedColor !important;
        }

        path {
            fill: $mutedColor !important;
        }
    }

    a.active {
        color: $primaryColor !important;

        svg {
            fill: $primaryColor !important;
        }

        path {
            fill: $primaryColor !important;
        }
    }

    .circle-icon {
        font-size: 0.5rem;
    }

    .btn-edit-profile {
        background-color: transparent;
        color: white !important;
        border: 1px solid rgba(255, 255, 255, .25);
        ;
        border-radius: 50px;
    }

    a.btn-logout {
        display: inline-block;
        color: red !important;

        path {
            fill: red !important;
        }
    }
}

#right-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20em;
    margin-right: -100%;
    min-height: 100%;
    background-color: white;
    overflow-x: hidden;
    z-index: 2;
    transition: margin-left 0.25s ease-in-out;

    a {
        color: $mutedColor !important;

        path {
            fill: $mutedColor !important;
        }
    }

    a.active {
        color: $primaryColor !important;

        path {
            fill: $primaryColor !important;
        }
    }

    .circle-icon {
        font-size: 0.5rem;
    }

}

#page-content-wrapper {
    padding-left: 20em;
    min-width: 0;
    width: 100%;
    transition: padding-left 0.25s ease-in-out;

    .navbar {
        // height:100px!important;
        margin-left: 20em;
        z-index: 1;
    }

    #menu-toggle {
        display: none;
    }

    .page-content {
        padding-top: 120px;
    }
}

.bonus-container {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 15px;
}

.rounded-container {
    background: white;
    border-radius: $border-radius;
}

.input-container {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}

.flex-rectangle {
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;

    .btn {
        background: transparent;
    }

    .reward-overlay {
        opacity: 0;
        border-radius: 15px;
        transition: all 0.25s ease-in-out;
    }

    .reward-overlay:hover {
        opacity: 1;
        transition: all 0.25s ease-in-out;
    }
}

.right-bonus-card {
    border-radius: 20px;

    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }
}

.page-item {
    a {
        color: #999999 !important;
    }

}

.page-item.active {
    a {
        color: white !important;
    }
}

.title {
    font-size: 24px;
}

// NETWORK TREE

.network-tree {

    .left-leg,
    .right-leg {
        border-left: 1px solid rgba(0, 0, 0, 0.25)
    }
}

$border-width: 1px;
$reverse: false;

.tree {
    @if $reverse {
        transform: rotate(180deg);
        transform-origin: 50%;
    }

    a {
        background-color: white;
    }

    .branch {

        .phone_number,
        .deposit {
            border-bottom: 1px solid rgba(0, 0, 0, 0.25)
        }

        .left-leg {
            box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

.tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.tree li {
    display: inline-block; // need white-space fix
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em .5em 0 .5em;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: $border-width solid #ccc;
        width: 55%;
        height: 1em;
    }

    &::after {
        right: auto;
        left: 50%;
        border-left: $border-width solid #ccc;
    }

    &:only-child::after,
    &:only-child::before {
        display: none;
    }

    &:only-child {
        padding-top: 0;
    }

    &:first-child::before,
    &:last-child::after {
        border: 0 none;
    }

    &:last-child::before {
        border-right: $border-width solid #ccc;
        border-radius: 0 5px 0 0;
    }

    &:first-child::after {
        border-radius: 5px 0 0 0;
    }
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: $border-width solid #ccc;
    width: 0;
    height: 1em;
}

.tree li {
    a, .btn-network-tree, .btn-register-tree {
        border: $border-width solid #ccc;
        background:white;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        color: #333;
        position: relative;
        top: $border-width;

        @if $reverse {
            transform: rotate(180deg);
        }
    }

    .btn-register-tree{
        background-color: #D0FDCB!important;
        p{
            color: #4EAE3A;
        }
    }
}
// END

// REGISTRATION FORM
.registration-form, .upgrade-form {
    border-radius: 10px;

    p{
        color: #0075FF;
    }

    p.label{
        color: #2b2b2b;
    }

    input, select{
        height: 35px!important;
        box-shadow: none!important;
        border: 1px solid #999999!important;
    }
}
// END

.upgrade-form{
    input, select{
        height: 35px!important;
        box-shadow: none!important;
        border: 1px solid #999999!important;
    }
}

.create-epin-form{
    select{
        height: 35px!important;
        box-shadow: none!important;
        border: 1px solid #999999!important;
    }
}

// PAYMENT
    .provider-container{

        position:relative;
        padding-top: 50%;

        .provider-view{
            position: absolute; 
            top:0px; 
            bottom:0;
            border:1px solid rgba(0,0,0,0.15); 
            border-radius: 6px;

            img{
                width: 150px;
                height: 75px;
                object-fit: contain;
            }

        }
    }
// END
.payment-receipt-overlay{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    body {
        // background: rebeccapurple!important;
    }

    #sidebar.show {
        margin-left: 0;
    }

    #overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
        opacity: 0;
        top: 0;
    }

    #overlay.show {
        display: block;
        position: fixed;
        opacity: 1;
    }

    #page-content-wrapper {
        padding-left: 0;

        .navbar {
            margin-left: 0px;
        }

        .title {
            padding-left: 24px !important;
        }

        #menu-toggle {
            // left: 32px;
            padding-left: 3rem !important;
            display: block;
            position: relative !important;
        }

    }
}

@media only screen and (max-width: 768px) {

    .title {
        font-size: 17px;
    }

    .network-tree {

        .left-leg,
        .right-leg {
            border-left: 0px;
        }
    }

    .page-content {
        padding-top: 150px !important;
    }

    #overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
        opacity: 0;
        top: 0;
    }

    #overlay.show {
        display: block;
        position: fixed;
        opacity: 1;
    }

    #sidebar {
        width: unset;
        margin-left: -100vh;
        transition: margin-left 0.25s ease-in-out;
        max-width: 75%;

        .header {

            .username {
                font-size: 24px;
            }

            .achievement {
                font-size: 16px;
            }
        }

        p {
            font-size: 14px;
        }

        a.btn-edit-profile {
            font-size: 14px;
        }

        a.btn-logout {
            bottom: 0rem;
        }
    }

    #right-sidebar.show {
        margin-right: 0em;
        transition: margin-right 0.25s ease-in-out;
    }

    #right-sidebar {
        width: unset;
        margin-right: -100vh;
        transition: margin-right 0.25s ease-in-out;
        max-width: 75%;

        p {
            font-size: 14px;
        }
    }

    #page-content-wrapper {
        padding-left: 0;

        .navbar {
            // padding-left: 8px!important;
            // height:75px;
            margin-left: 0px;

            h2 {
                font-size: 24px;
            }

        }

        #menu-toggle {
            display: block;
        }

        .page-content {
            padding-top: 100px;
        }
    }

    .right-bonus-card {
        padding-top: 55%;

        h1 {
            font-size: 24px;
        }

        h3 {
            font-size: 17px;
        }

        .logo {
            width: 48px !important;
            height: 48px !important;
        }
    }

    .member-card {
        h1 {
            font-size: 32px;
        }

        // .logo{
        //     width: 48px!important;
        //     height: 48px!important;
        // }
    }


    table.dataTable tbody td {
        white-space: nowrap;
    }

    .text-small {
        font-size: 12px !important;
    }

    .text-medium {
        font-size: 14px !important;
    }

    .text-large {
        font-size: 24px !important;
    }

    .text-extraLarge {
        font-size: 32px !important;
    }
}

@media only screen and (max-width: 320px) {
    .right-bonus-card {
        padding-top: 65%;
    }


    .member-card {
        padding-top: 65% !important;

        h1 {
            font-size: 24px;
        }
    }
}
